.movies-card-list {
    max-width: calc(100vw - 140px);
    width: 100%;
    padding: 80px 0;
    margin: 0 auto;
    border-top: 1px solid #424242;
}

.movies-card-list__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 32px 20px;
}

.movies-card-list__button {
    max-width: calc(100vw - 140px);
    width: 100%;
    height: 36px;
    border: none;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    border-radius: 6px;
    background-color: #2F2F2F;
    margin: 80px 0 0 0;
}

.movies-card-list__button:hover {
    opacity: .8;
}

.movies-card-list__button_hidden {
    display: none;
}

@media screen and (max-width: 1024px) {
    .movies-card-list {
        max-width: calc(100vw - 60px);
    }

    .movies-card-list__cards {
        gap: 36px 30px;
        grid-template-columns: repeat(auto-fill, minmax(339px, 1fr));
    }

    .movies-card-list__button {
        max-width: calc(100vw - 60px);
    }
}

@media screen and (max-width: 767px) {
    .movies-card-list {
        max-width: calc(100vw - 28px);
        padding: 50px 0 80px 0;
    }

    .movies-card-list__cards {
        gap: 20px;
        grid-template-columns: 1fr;
    }

    .movies-card-list__button {
        max-width: calc(100vw - 20px);
    }
}
