.search-form {
    max-width: 1140px;
    padding: 70px 0 69px 0;
    margin: 0 auto;
}

.search-form__form {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2F2F2F;
    padding: 19px 30px 19px 19px;
    border-radius: 9px;
}

.search-form__container {
    /*пришлось добавить контейнер, чтобы сделать справа отступ от кнопки и сделать там линию
    Для этого сделал контейнер и ограничил ему ширину*/
    display: flex;
    flex-direction: row;
    max-width: 854px;
    width: 100%;
    border-right: 1px solid #424242;
    padding: 0 30px 0 0;
}

.search-form__input-logo {
    background-image: url("../../images/inputSearchIcon.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 34px;
    height: 34px;
}

.search-form__input {
    max-width: 750px;
    border: none;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #8B8B8B;
    background-color: inherit;
    outline: none;
    margin: 0;
    padding: 0;
}

.search-form__button {
    width: 80px;
    height: 34px;
    background-image: url("../../images/searchButtonIcon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #4285F4;
    border-radius: 48px;
    margin: 0;
    border: none;
    padding: 0;
    cursor: pointer;
}

.search-form__checkbox-label {
    position: relative;
    width: 36px;
    height: 20px;
    margin: 0 0 0 29px;
}

.search-form__invisible-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    /*  Это для того, чтобы нормально отображался во весх браузерах  */
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.search-form__visible-checkbox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #EBEBEB;
    border-radius: 20px;
    cursor: pointer;
    transition: .4s;
}

.search-form__visible-checkbox:before {
    /*здесь описываем стили круга в чекбоксе*/
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    background-color: #F5F5F5;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: .4s;
}

.search-form__invisible-checkbox:checked + .search-form__visible-checkbox {
    /*здесь описываем изменение цвета чекбокса*/
    background-color: #2BE080;
}

.search-form__invisible-checkbox:checked + .search-form__visible-checkbox:before {
    /*здесь описываем перемешение круга в чекбоксе*/
    transform: translateX(16px);
}

.search-form__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    padding: 0 0 0 14px;
    margin: 0;
}
