.navtab {
    position: absolute;
    top: 21px;
    right: 70px;
    height: 32px;
}

.navtab__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FFF;
    text-decoration: none;
    margin: 0;
    padding: 0 30px 0 0;
}

.navtab__button {
    border: none;
    background-color: #3DDC84;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000;
    width: 76px;
    height: 32px;
    border-radius: 3px;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .navtab {
        right: 30px;
    }
}

@media screen and (max-width: 767px) {
    .navtab {
        top: 24px;
        right: 14px;
    }

    .navtab__link {
        padding: 0 14px 0 0;
        font-size: 10px;
    }

    .navtab__button {
        font-size: 10px;
        width: 54px;
        height: 26px;
    }
}
